.fi-daterange-input-container {
    @apply relative flex-grow;
}

.fi-daterange-clear-btn {
    @apply absolute top-1/2 -translate-y-1/2 appearance-none text-gray-400 hover:text-gray-500 dark:text-gray-500 dark:hover:text-gray-400 end-2.5;
}

.drp-day-base {
    @apply p-1.5 text-center text-xs transition duration-75 cursor-pointer;
}

.drp-rounded-start {
    @apply rounded-r-none ltr:rounded-l-full rtl:rounded-r-full;
}

.drp-rounded-end {
    @apply rounded-l-none ltr:rounded-r-full rtl:rounded-l-full;
}

.drp-rounded-single {
    @apply rounded-full;
}

.drp-rounded-none {
    @apply rounded-none;
}

.drp-day-adjacent-month {
    @apply opacity-50 cursor-default text-gray-400 dark:text-gray-600;
    /* Or just use opacity-50 cursor-default if base text color is fine */
}

.bg-primary-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--primary-100), var(--tw-bg-opacity, 1));
}

.dark .dark\:bg-primary-700\/30 {
    --tw-bg-opacity: 0.3;
    background-color: rgba(var(--primary-700), var(--tw-bg-opacity));
}


.space-x-1 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.25rem /* 4px */ * var(--tw-space-x-reverse));
    margin-left: calc(0.25rem /* 4px */ * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem /* 8px */ * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem /* 8px */ * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem /* 16px */ * var(--tw-space-x-reverse));
    margin-left: calc(1rem /* 16px */ * calc(1 - var(--tw-space-x-reverse)));
}

p-
.rtl\:space-x-reverse:where([dir="rtl"], [dir="rtl"] *) > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 1;
}
